@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'Bebas Neue Bold';
	src: url("/assets/fonts/BebasNeue-Bold.otf");
}

@font-face {
	font-family: 'Bebas Neue Regular';
	src: url("/assets/fonts/BebasNeue-Regular.otf");
}

@font-face {
	font-family: 'Open Sans Light';
	src: url("/assets/fonts/OpenSans-Light.ttf");
}

@font-face {
	font-family: 'Open Sans SemiBold';
	src: url("/assets/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
	font-family: 'Open Sans SemiBoldItalic';
	src: url("/assets/fonts/OpenSans-SemiBoldItalic.ttf");
}

*{
	margin:0;
	padding:0;
	font-family: 'Open Sans Light', sans-serif;
}
#login-form {
	margin:5% auto;
	max-width: 300px;
}
/* home page */
#wrapper{
	padding-top:50px;
}

#bout .heaad {
		padding-top: 10px;
		text-align: center;
		font-size: 3em;
    }

#bout {
	padding-top: 10px;
	font-size: 1.2em;
	text-align: center;
}

.meet, .try, .perfect {
	font-family: 'Open Sans SemiBoldItalic';
	font-size: 2em;
	text-align: center;
}

/*	#bout .meet {
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
    /*font-family: "Comic Sans MS", cursive, sans-serif;
}

#bout .try {
	font-size: 35px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
    }

#bout .perfect {
	font-size: 50px;
	text-align: center;
	/*font-family: "Comic Sans MS", cursive, sans-serif;*/
    }

/*#bout .event {
	padding-top: 50px;
	font-family: "Comic Sans MS", cursive, sans-serif;
    }

#bout .inst {
	font-family: "Comic Sans MS", cursive, sans-serif;
    }

#bout.enjoy {
	font-family: "Comic Sans MS", cursive, sans-serif;
    }
*/
#bout .enjoy {
	/*font-family: "Comic Sans MS", cursive, sans-serif;*/
	    font-weight: bold;
	    padding-top: 20px;
	    text-align: center;
	    font-size: 50px;
	    color: #0c0c0c;
    }