/*
	File: calendar.css
	Location: /xampp/htcdocs/assets/css/calendar.css
	Description: Format calendar page & responsiveness
	Author: Nicole Ho
*/

@font-face {
	font-family: 'Bebas Neue Bold';
	src: url("/assets/fonts/BebasNeue-Bold.otf");
}

@font-face {
	font-family: 'Bebas Neue Regular';
	src: url("/assets/fonts/BebasNeue-Regular.otf");
}

@font-face {
	font-family: 'Open Sans Light';
	src: url("/assets/fonts/OpenSans-Light.ttf");
}

@font-face {
	font-family: 'Open Sans SemiBold';
	src: url("/assets/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
	font-family: 'Open Sans SemiBoldItalic';
	src: url("/assets/fonts/OpenSans-SemiBoldItalic.ttf");
}

.container-fluid {
	padding: 0% 3% 2% 3%;
}

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

*{
	margin:0;
	padding:0;
	font-family: 'Open Sans Light', sans-serif;
}

.navbar-fixed-top {
	position: relative;
}

.cal {
	padding: 30px;
	border: 20px solid white;
	background-color: rgba(80, 80, 80, 0.7);
	color: white;
	min-height: 282px;
}

.cal:hover {
	transform: scale(1.1);
}

h1 {
	font-family: 'Bebas Neue Bold', sans-serif;
	font-size: 4em;
	color: white;
	margin: 0px;
	padding: 0px;
}

.location {
	font-family: 'Open Sans SemiBoldItalic', sans-serif;
	margin:0px;
	padding: 0px;
}

.btn {
	margin-top: 20px;
}

.create {
	margin-top: 50px;
}

@media only screen and (max-width: 768px) {
	.container-fluid {
		padding: 0px;
	}

	.navbar-fixed-top {
		margin-bottom: 0px!important;
	}

    .col { 
        display: block;
        width: 100%;
	}
	
	.cal {
		margin:0px;
		border: none;
		min-width: 100%;
	}

	.cal:hover {
		transform: none;
	}
}