<!DOCTYPE html>
<html lang="en">
<head>
	<title>calendar</title>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/fullcalendar.min.css" rel="stylesheet">
	<link href="../static/css/fullcalendar.print.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">

	<script src="../static/js/jquery.min.js"></script>		
	<script src="../static/js/jquery-ui.custom.min.js"></script>
	<script src="../static/js/moment.min.js"></script>
	<script src="../static/js/fullcalendar.min.js"></script>
	<script src="../static/js/render.js"></script>
</head>

<body>
	<div class="container">
		<div class="jumbotron text-center"><h1>Calendar</h1></div>
		<div class="jumbotron">
			<div id='script-warning'>Error getting data from <code>/data</code> endpoint.</div>
			<div id='loading'>loading...</div>
	
			<div id='calendar'></div>
		</div>
	</div>
</body>
</html>
